body{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}
.btn-primary{
    color: #FFF;
    font-size: 20px;
    font-weight: 700; 
    border-radius: 5px;
    background: #FD6E0A; 
    padding: 18px 36px;
    border: 0;
    cursor: pointer;

}

.section-tittle{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-desc{
    color: #757575;
   text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px
}


.header{
    background: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 70%;
   margin: 0 auto;
}


.tittle-logo{
    color:#181818;
    font-size: 45px;
    font-weight: 800;
}

.orange-color{
color: #FD6E0A;
}

nav > ul{
    display: flex;
    align-items: center;

}

nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    color:#474747;
    text-decoration: none;
}


.banner{
    padding: 30px  30px  0 180px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
img{
    width: 584px;
    height: 676px; 
}

.banner-greeting{
    color:  #474747;  
font-size: 45px;
font-weight: 600;
margin-bottom: 0px;

}
.banner-tittle{
    color:#181818;
font-size: 85px;
font-weight: 700;
margin-top: 5px;
}
.banner-content p{
    color: #757575;
font-size: 18px;
font-weight: 400;
line-height: 30px; 
margin-top: 30px;
margin-bottom: 30px;
}

main{
    max-width: 67%;
    margin: 130px auto 0;
}
.about{
    padding: 100px 156px;
    border-radius: 10px;
    background: #FFF8F3;
    margin-bottom: 130px;
}
.about-info-container, .skill-info-container{
    display: flex;
    justify-content: space-between;
}

.about-info{
    text-align: center;
}

.skill-info img{
    width: 44px;
    height: 44px; 
}
.skill-info{
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
padding: 30px;
margin-top:50px ;
}
.skill-info-desc{
    padding-top: 30px;
}
.skill-info-tittle{
    padding-top: 30px;
}
